body {
  background-color: #2d4059;
}

h1 {
  color: #f0f8ff;
  font-family: 'Balsamiq Sans', cursive;
  font-size: 3rem;
  margin-top: 50px;
}


.container {
    background-color: #056676;
    border: none;
    border-radius: 10%;
    height: 500px;
    margin: auto;
    margin-top: 75px;
    overflow: hidden;
    text-align: center;
    width: 50%;
    
}


ul {
  font-size: 30px;
  list-style-type: none;
  padding: 20px;
}

ul:hover {
  cursor: pointer;
}

#taskButton{
  text-align: center;
  height: 25px;
}

#taskInput {
  height: 20px;
  margin-top: 30px;
  width: 40%;
}

#deleteTaskButton {
  margin-left: 500px;
  float: right;
  
}

#newTask {
  color: #f0f8ff;
  font-family: Balsamiq Sans;
  position: relative;
}